@font-face {
  font-family: "Lato-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
}

@font-face {
  font-family: "Lato-Semibold";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Lato-Semibold.woff2") format("woff2"), url("../fonts/Lato-Semibold.woff") format("woff");
}

@font-face {
  font-family: "Lato-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

picture {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  outline: none;
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.main-screen__bg img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.h2-title {
  font-size: 36px;
  line-height: 42px;
  font-family: "Lato-Bold";
}

.container {
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: relative;
  z-index: 20;
  padding-top: 57px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left {
  position: relative;
}

.header__left::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 18px;
  background: url("../img/svg/cloud_header.svg") no-repeat left;
  z-index: 50;
}

.header__logo {
  color: #fff;
  text-transform: uppercase;
  font-family: "Lato-Bold";
  font-size: 18px;
  padding-left: 28px;
}

.header__btn-login {
  border: 1px solid #fff;
  border-radius: 6px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Lato-Regular";
  color: #fff;
  padding: 11px 28px;
}

.header__btn-login:hover {
  color: #ED4C5C;
  background-color: #fff;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  text-transform: uppercase;
  font-family: "Lato-Bold";
  font-size: 14px;
  margin-right: 20px;
}

.nav__link {
  color: #fff;
}

.nav__link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.nav__btn {
  color: #fff;
  text-transform: uppercase;
  font-family: "Lato-Bold";
  font-size: 14px;
}

.nav__btn:hover {
  cursor: pointer;
  text-decoration: underline;
}

.hero__container {
  position: relative;
}

.hero__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 165px;
  padding-bottom: 187px;
}

.info__title {
  color: #fff;
  text-transform: uppercase;
  font-family: "Lato-Bold";
  font-size: 72px;
  margin-bottom: 40px;
}

.info__text {
  width: 540px;
  color: #fff;
  font-family: "Lato-Regular";
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  margin-bottom: 40px;
}

.info__btn {
  color: #ED4C5C;
  background-color: #fff;
  text-transform: uppercase;
  font-family: "Lato-Bold";
  font-size: 14px;
  padding: 16px 52px;
  border-radius: 6px;
}

.info__btn:hover {
  background-color: #ED4C5C;
  color: #fff;
  outline: 1px solid #fff;
}

.software {
  padding-top: 140px;
  padding-bottom: 94px;
}

.software__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.software__info {
  max-width: 445px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.software__title {
  margin-bottom: 45px;
}

.software__text {
  font-family: "Lato-Regular";
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 24px;
}

.software__img img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  -o-object-fit: contain;
     object-fit: contain;
}

.more__link {
  font-family: "Lato-Regular";
  font-size: 14px;
  color: #ED4C5C;
}

.more__link:hover {
  text-decoration: underline;
}

.h3-title {
  font-family: "Lato-Bold";
  font-size: 18px;
  line-height: 22px;
}

.features {
  padding-top: 64px;
  padding-bottom: 124px;
  background-color: #FAFAFA;
}

.features__title {
  text-align: center;
  margin-bottom: 60px;
}

.features__list {
  position: relative;
  z-index: 200;
  padding-top: 157px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features__item {
  position: relative;
  border-radius: 8px;
  -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 32px 32px 25px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 293px;
  background-color: #fff;
}

.features__item::after {
  position: absolute;
  content: '';
  width: 350px;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  bottom: 50%;
  z-index: -100;
}

.features__item--1::after {
  background-image: url("../img/feature1.webp");
}

.features__item--2::after {
  background-image: url("../img/feature2.webp");
}

.features__item--3::after {
  background-image: url("../img/feature3.webp");
}

.features__item-title {
  margin-bottom: 20px;
}

.features__item-text {
  font-family: "Lato-Regular";
  font-size: 12px;
  margin-bottom: 25px;
  line-height: 15px;
}

.technology {
  padding-top: 63px;
  padding-bottom: 104px;
}

.technology__title {
  margin-bottom: 55px;
  text-align: center;
}

.technology__list {
  position: relative;
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.technology__item {
  position: relative;
  text-align: center;
  padding: 70px 30px 4px 30px;
  max-width: 255px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.technology__item::after {
  color: rgba(16, 16, 16, 0.08);
  position: absolute;
  z-index: -10;
  font-size: 100px;
  line-height: 120px;
  text-align: center;
  font-family: "Lato-Bold";
  bottom: 35%;
}

.technology__item--1 .technology__item-img {
  background-image: url("../img/svg/technology1.svg");
}

.technology__item--1::after {
  content: '01';
}

.technology__item--2 .technology__item-img {
  background-image: url("../img/svg/technology2.svg");
}

.technology__item--2::after {
  content: '02';
}

.technology__item--3 .technology__item-img {
  background-image: url("../img/svg/technology3.svg");
}

.technology__item--3::after {
  content: '03';
}

.technology__item--4 .technology__item-img {
  background-image: url("../img/svg/technology4.svg");
}

.technology__item--4::after {
  content: '04';
}

.technology__item-img {
  display: block;
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 10px;
}

.technology__item-title {
  margin-bottom: 10px;
}

.technology__item-text {
  font-family: "Lato-Regular";
  font-size: 12px;
  line-height: 15px;
}

.start {
  background-color: #ED4C5C;
  padding: 78px 0;
}

.start__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.start__info {
  max-width: 445px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.start__title {
  margin-bottom: 45px;
  color: #Fff;
}

.start__text {
  font-family: "Lato-Regular";
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 24px;
  color: #Fff;
}

.start__img img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  -o-object-fit: contain;
     object-fit: contain;
}

.start__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.start__item {
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  margin-right: 25px;
}

.start__item :last-child {
  margin-right: 0;
}

.start__item--1 {
  background-image: url("/img/svg/start1.svg");
}

.start__item--2 {
  background-image: url("/img/svg/start2.svg");
}

.start__item--3 {
  background-image: url("/img/svg/start3.svg");
}

.start__item:hover {
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */